/* Main Changes */
.app {
  padding-top: 0 !important ;
  margin: 0 auto;
  margin-bottom: 80px !important ;
  text-align: center;
}

.breadcrumbs {
  margin-top: 0;
}

section {
  padding-top: 20px;
}

/* Footerbar */
.app-header.fixed-bottom {
  display: grid;
  align-items: center;
  box-shadow: 0px -1px 10px 1px rgb(0 0 0 / 50%);
  border-bottom: 1px solid #e7e9ed;
  background: var(--bs-body-bg);
  min-height: 60px;
}

/* Project Card */
.inner .inner-details {
  padding: 5px !important;
}

.inner .report-button {
  right: 0px;
  top: 0px;
  width: 35px;
  height: 35px;
  padding: 0;
}

.inner .inner-details .post-img {
  margin: 0;
}
