.app-sidepanel {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 0.875rem;
  border-right: 1px solid #e7e9ed;
}

.app-sidepanel .panel-drop {
  display: none;
}

.app-sidepanel .sidepanel-inner {
  position: relative;
  z-index: 10;
  background: var(--bs-body-bg);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 15px;
  width: 250px;
  height: 100%;
}

.app-sidepanel .sidepanel-close {
  /* display: none; */
  position: absolute;
  z-index: 20;
  right: -4rem;
  top: 0;
  color: #fff;
  font-size: 2.5rem;
}

.app-sidepanel.sidepanel-hidden {
  left: -250px;
}

.app-sidepanel.sidepanel-visible {
  left: 0;
}

.app-sidepanel .app-nav-main {
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.1) #e7e9ed;
  scrollbar-width: thin;
}

.app-sidepanel .app-nav-main::-webkit-scrollbar {
  width: 6px;
  background-color: #e7e9ed;
}

.app-sidepanel .app-nav-main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
